<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylize</title>
    <link rel="stylesheet" type="text/css" href="./style/style2.css">
</head>
<body class="background-image">
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Welcome <span></span></h1>
                <h1>To <span></span></h1>
                <h1>Ascii Art Web!<span></span></h1>

                <br>
                <form id="form" method="POST" action="/">
                    <textarea rows="4" cols="50" placeholder="Type here..." name="input" required></textarea>
                    <br>
                    
                    <label class="artselect" for="banner">Select Art</label><br>
                    <select name="banner" id="html" class="dropart">
                      <option value="shadow" >Shadow</option>
                      <label for="html">Shadow</label>
                      <option value="standard">Standard</option>
                      <option value="thinkertoy">Thinkertoy</option>
                    </select>
                    <br><br>
                    
                    <input type="submit" value="Submit" class="cta"/><br><br>

                    </div>
            </div>
        </div>
    </body>
    </html>

